@model Bookish.Controllers.ReportsController

<body>
<div style="display: flex; align-items:center; justify-content: center">
    <img src="reports.png" style="height: 300px; margin-top: -10px; padding: 5px; "/>
</div>
       <div class="inventoryContainer">
           <div class="card tableContainer">
               <a asp-controller="" asp-action="">Report1</a>
           </div>
           <div class="card tableContainer">
           <a asp-controller="" asp-action="">Report2</a></div>
           <div class="card tableContainer">
               <a asp-controller="" asp-action="">Report3</a>
           </div>
       </div>
</body>
