@model Bookish.Controllers.ReportsController
@{
    Layout = "_Layout";
}

<body>
<div style="display: flex; align-items:center; justify-content: center">
    <img src="reports.png" style="height: 300px; margin-top: -10px; padding: 5px; "/>
</div>
<div class="inventoryContainer">
    <div class="card tableContainer">
        <a asp-controller="" asp-action="">2019 report</a>
        <p>Business is slowing down. As the popularity of smart phones increase, less and less people are reading books. If this trend continues, we may have to shut down.</p>
    </div>
    <div class="card tableContainer">
        <a asp-controller="" asp-action="">2020 report</a>
        <p>
            We can't continue like this any longer, we are running out of money. I have had to sell both my children just to keep the heating on...
        </p>
        <p>
            However, yesterday as I was walking home a shady man stopped me in an allyway. He sold me a new range of books called 'The Ben Chronicles'. I don't even know who this Ben guy is, but the shady man was convinced that these books are going to go viral.
            So I'm going to stock them in the library. Hopefully our 2021 reports are better.
        </p>

    </div>
    <div class="card tableContainer">
        <a asp-controller="" asp-action="">2021 report</a>
        <p>
            Business is booming! Our membership is up 500%! Our members can't get enough of these new Ben books. Thank goodness we have this amazing library software to use, otherwise we wouldn't be able to keep up with the demand.
        </p>
        <p>Only downside is that my wife said we have to buy the children back...</p>
    </div>
    <div class="card tableContainer">
        <a asp-controller="Reports" asp-action="Authors">List of Authors</a>
        <p>
            Such Authors. Much Wow.
        </p>
    </div>
</div>

</body>