@model Bookish.Models.View.InventoryViewModel;
@{
    ViewData["Title"] = "Inventory";
}

<div class="inventoryContainer">
    <div class="card searchBarContainer">
        <input type="text" id="searchBookInput" name="searchBookInput" placeholder="Search for a book">
        <button class="searchButton buttonBase">Search</button>
    </div>

    <div class="spacer"></div>
    <div class="card tableContainer">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var inventory in Model.Inventory)
                {
                    <tr>
                        <td>@inventory.title</td>
                        <td>@inventory.author</td>
                        <td>@inventory.genre</td>
                        <td>@inventory.year_published</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>
</div>