@model Bookish.Controllers.HomeController

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Library of Alexandria II</title>
</head>
<body class="container-fluid">
<div class="row">
    <div class="col">
        Browse Books
    </div>
    <div class="col">
        Inventory
    </div>
</div>
<div class="row">
    <div class="col">
        Members
    </div>
    <div class="col">
        Reports
    </div>
</div>
</body>
</html>